/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");*/


/* main{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
} */

/* Profile View (Top of the page) */
.header{
display: grid;
grid-template-columns: auto auto;
grid-template-rows: repeat(3 , auto);
grid-gap: 50px;
margin: 50px;
align-items: center;
}
.info{
    display: grid;
align-items: center;
    row-gap: 20px;
}
.name-info{
    display: grid;
    grid-template-columns: auto auto auto;
}
.follow{
    grid-area: 2/ 2 / 3 / 3;
    display: grid;
    grid-template-columns: auto auto auto;
}
.profile-img {
    border: 10px hidden; 
    border-radius: 100%;
    width: 195px;
    height: 200px;
    object-fit: cover;
    grid-row: 1 / -1;
}
.edit-btn{
text-decoration: none;
color: black;
border: 1px solid darkgray; 
border-radius: 10px;
text-align: center;
padding: 5px ;

/* text-shadow: 0 0 8px darkslategrey; */

}
.Bio{
    grid-area: 3/ 2 / 3 / 3;
    word-spacing: 0.5rem;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    grid-auto-rows: 330px;
    gap: 25px;
    /* overflow: auto;
    position: relative; */
    max-width: 1200px;
    margin: 0 auto;
}
.div-img > img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    position: relative;

}
.div-img{
    position: relative;
    cursor:pointer ;
width: 100%;
}
.icons{
    position: absolute; 
    top:0; 
    right:0;
    color: white;
    background-color: #564a434d;
    padding: 10px;
    font-size: x-large;

}
.hidden-icons{
    display: flex;
    justify-content: space-evenly;
   position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    padding-top: 70%;
    font-size: x-large;
    color: white;
    opacity: 0;
    cursor: pointer;
    z-index: 9999;
}
.div-img:hover .hidden-icons {
    opacity: 1;
  
}
.div-img:hover > img{
    filter: blur(5px) ;
    transition: all 1s;  
}
@media screen and (max-width : 525px){
  body{
    margin: 0;
  }
 .container{
    overflow: auto;
    position: relative;
 }
}
@media screen and (max-width : 400px){
    /* body{
        width: auto;
    } */
    main{
        overflow: auto;
        position: relative;
        }
    .header{
        margin: 0;
    }
    .name-info{
        grid-template-columns: auto  auto;
        grid-template-rows:auto auto;
    }
    .profile-img{
        grid-area: 1 / 1 / 2 / 2 ;
    }
    .edit-btn{
        grid-row:  2 / -2;
        grid-column: 1 / -1;
    }
    .follow{
            grid-area: 3 / 1 / 4 / -1;
            border-bottom: 1px solid lightgray;
            border-top: 1px solid lightgray;
            margin: 20px 0;
            text-align: center;
            width: 100%;
        }
        p > strong{
            display: block;
        }
    .Bio{
        grid-area: 2 / 1 / 3 / -1;
    }
 /* .container{
    width: 100%;
    grid-template-columns: repeat(2, 1fr);

 } */
 .div-img{
    width: 100%;
 }
}

@media screen and (max-width : 200px){
.container{
    grid-template-columns: 1fr;
}
}